.navbar {
  display: flex;
  justify-content: flex-start; /* Alineamos todo a la izquierda */
  align-items: center;
  padding: 10px 20px; /* Reducción en el padding para que el navbar sea más compacto */
  background-color: #003366;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-logo-img {
  width: 60px; /* Reducimos el tamaño del logo */
  height: auto;
  object-fit: contain; /* Para evitar distorsión de la imagen */
  margin-right: 20px; /* Espacio a la derecha del logo */
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacio entre botones */
}

/* Botones del navbar */
.navbar-btn {
  background-color: #ffffff;
  color: #003366;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-btn:hover {
  background-color: #002244;
  color: white;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}
